*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #fff;;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    height: 13vh
}

nav ul{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    list-style-type: none;
    font-size: 8px;
}

nav ul li a:hover{
    
    color: rgb(237, 102, 53);
    font-size: 9px;
}

a{
    text-decoration: none;
    color: black;
}

img{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    

}


.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
}

/* home */

#home{

    width: 100%;
    height: 56vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:#f8f8f8;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

.content{
    text-align: center;
}

.conrainer{
    display: flex;
    
    gap: 10px;
    margin-top: 5%;
}

#home h1{
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.p1{
    font-size: 12px;
    color: black;
    align-items: center;
    margin-bottom: 5px;
    
}

.p2{
    font-size: 8px;
    color: rgb(3, 3, 3);
    align-items: center;
    padding: 6px;
}

span{
    color: rgb(237, 102, 53);
}

button{
    padding: 10px 20px;
    background-color: rgb(12, 12, 12);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-top: 10px;
}

.demo{
    display: flex;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    padding: 90px;
}